.detailCard {
    color: #18171C;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content:center;
    margin-bottom: 1rem;
    background-color: #E8DCCA;
    width: 800px;
    padding: 1rem;
    margin-top: 2rem;

     @media (max-width: 950px) {
    width: 100%;
    flex-direction: column;
    margin-bottom: 0;

    
  }
}

.detailCard img {
    height: 500px;
    margin-bottom: 1rem;
}

.detailCard_Text {
    margin-left: 2rem;
}

.detailCard_Text h2 {
    font-size: 3rem;
}
.detailCard_Text img {
    width: 100px;
    height: auto;
}

.detail__nobody {
    font-size: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.detail__back {
    margin-top: 2rem;
    cursor:pointer;
}